package $packageName;

public $className implements Serializable {

 /** Serial Version UID. */
 private static final long serialVersionUID = 1L;

#foreach( $attribute in $attributes )
 private $attribute.AttributeType $attribute.AttributeName;
#end

#foreach( $attribute in $attributes )
 public $attribute.AttributeType get${attribute.getGetterAndSetterString()}() {
     return this.$attribute.AttributeName;
 }

 public void set${attribute.getGetterAndSetterString()}($attribute.AttributeType $attribute.AttributeName) {
     this.$attribute.AttributeName = $attribute.AttributeName;
 }
#end
}