#macro( myMacro )
<div style="color:green">
<h2> This is from MY macro! </h2>
<p> My Macro</p>
</div>
#end


#macro( tablerows $color $somelist )
#foreach( $something in $somelist )
    <tr><td bgcolor=$color>$something</td></tr>
#end
#end